<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间namespace对应Mapper接口 -->
<mapper namespace="org.tianfan.httpmysql.mapper.UserMapper">
    <!-- id对应接口中的方法 -->
    <select id="getUsers" resultType="org.tianfan.httpmysql.pojo.User">
        select * from tianfan.user
    </select>
</mapper>